<section class="employees">
  <h1 class="headline">9elements employees</h1>
  <% @employees.each do |employee| %>
    <div class="employees__card my-4">
      <p>
        <%=link_to employee_path(employee), class: 'accent' do %>
          <%= image_tag employee.avatar, class: 'employees__photo' %>
          <p class="employees__name"><%= employee.name %></p>
        <%end %>
      </p>

    </div>


  <% end %>

</section>
