.employees {
  &__photo {
    width: 100%;
    height: auto;
  }

  &__framed-photo {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  &__name {
    text-align: center;
  }

  &__card {
    max-width: 300px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.1);
  }
}