<!DOCTYPE html>
<html>
  <head>
    <title>Employees</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1 class="my-3">The who is who @9elements</h1>
      <%= yield %>
    </div>

  </body>
</html>
